*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    transition: all 0.5s ease;
}

body {
    font-family: 'Spartan', sans-serif;
}

// variables //

// tema 1 //

$red: rgb(217, 58, 54);
$backgroundblue: rgb(59, 70, 100);
$darkblue: rgb(24, 31, 50);
$whitebutton: rgb(234, 227, 219);
$backgroundbutton: rgb(37, 45, 68);
$bluebutton: rgb(99, 114, 152);

// tema 2 //

$generalbackground: rgb(230, 230, 230);
$darkgray: rgb(211, 205, 205);
$buttongreen: rgb(56, 129, 135);
$orange: rgb(204, 82, 0);
$whitebutton-t: rgb(229, 228, 224);
$shadowhite: rgb(167, 157, 146);
$darkgreen: rgb(29, 94, 101);
$darkred: rgb(127, 64, 19);

// tema 3 //

$yellow: rgb(250, 227, 93);
$backgroundpurple: rgb(23, 6, 42);
$darkpurple: rgb(30, 8, 54);
$lightgreen: rgb(0, 222, 207);
$buttonpurple: rgb(51, 27, 78);
$borderpurple: rgb(129, 34, 151);
$resetpurple: rgb(86, 7, 124);
$bordereset: rgb(188, 23, 241);

// estilos generales //

.header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 90px;
    align-items: center;
    max-width: 375px;
}

.right__content {
    display: flex;
    align-items: flex-end;
    width: 42%;
    justify-content: space-between;
}

.numbers-h {
    font-size: 12px;
    letter-spacing: 6px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.theme-h {
    font-size: 13px;
    margin-bottom: 5px;
}

.button-h {
    width: 68px;
    height: 25px;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    cursor: pointer;
}

.button__circle {
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.display {
    display: flex;
    width: 90%;
    margin: auto;
    height: 85px;
    border-radius: 9px;
    align-items: center;
    justify-content: flex-end;
    max-width: 375px;
    overflow: hidden;
}

.display__number {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
}

.keyboard {
    width: 90%;
    margin: auto;
    margin-top: 22px;
    border-radius: 9px;
    max-width: 375px;
}

.keyboard__contain {
    width: 90%;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 20px;
    max-width: 305px;
}

.button {
    display: inline-block;
    height: 65px;
    width: 65px;
    margin-left: 7px;
    margin-top: 14px;
    text-align: center;
    padding-top: 22px;
    font-size: 25px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.button-del {
    display: inline-block;
    height: 65px;
    width: 65px;
    margin-left: 7px;
    margin-top: 14px;
    text-align: center;
    padding-top: 22px;
    font-size: 25px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.button-del::after {
    position: absolute;
    content: "DEL";
    color: white;
    left: 13px;
    font-size: 18px;
}

.button-reset {
    display: inline-block;
    margin-left: 8px;
    margin-top: 14px;
    height: 60px;
    width: 141px;
    color: white;
    text-align: center;
    padding-top: 20px;
    border-radius: 9px;
    cursor: pointer;
}

.button-equal {
    display: inline-block;
    margin-left: 5px;
    margin-top: 14px;
    height: 60px;
    width: 141px;
    text-align: center;
    padding-top: 20px;
    border-radius: 9px;
    cursor: pointer;
}

// cambio de tema //

.buttonh-center {
    justify-content: center;
}

.buttonh-right {
    justify-content: flex-end;
}

.buttonh-left {
    justify-content: left;
}

.circle-left {
    background-color: $red;
}

.circle-center {
    background-color: $orange;
}

.circle-right {
    background-color: $lightgreen;
}

.header-left {
    color: white;
}

.header-center {
    color: black;
}

.header-right {
    color: $yellow;
}

.keyboard-left {
    background-color: $backgroundbutton;
}

.keyboard-center {
    background-color: $darkgray;
}

.keyboard-right {
    background-color: $darkpurple;
}

.body-left {
    background-color: $backgroundblue;
}

.body-center {
    background-color: $generalbackground;
}

.body-right {
    background-color: $backgroundpurple;
}

.reset-left {
    background-color: $bluebutton;
    box-shadow: 0px 5px 0px 0px rgba(65, 79, 118, 0.75);
}

.reset-center {
    background-color: $buttongreen;
    box-shadow: 0px 5px 0px 0px rgba(22, 69, 75, 0.75);
}

.reset-right {
    background-color: $resetpurple;
    box-shadow: 0px 5px 0px 0px rgba(188, 23, 241, 0.75);
}

.button-left {
    background-color: $whitebutton;
    color: $backgroundbutton;
    box-shadow: 0px 5px 0px 0px rgba(230, 211, 216, 0.75);
}

.button-center {
    background-color: $whitebutton-t;
    color: black;
    box-shadow: 0px 5px 0px 0px rgba(167, 157, 146, 0.75);
}

.button-right {
    background-color: $buttonpurple;
    color: $yellow;
    box-shadow: 0px 5px 0px 0px rgba(129, 34, 151, 0.75);
}

.dot-left {
    color: $bluebutton;
}

.dot-center {
    color: $buttongreen;
}

.dot-right {
    color: $resetpurple;
}

.display-left {
    background-color: $darkblue;
}

.display-center {
    background-color: rgb(238, 238, 238);
}

.display-right {
    background-color: $darkpurple;
}

.equal-left {
    background-color: $red;
    color: white;
    box-shadow: 0px 5px 0px 0px rgba(190, 51, 44, 0.75);
}

.equal-center {
    background-color: $orange;
    color: white;
    box-shadow: 0px 5px 0px 0px rgba(100, 50, 15, 0.75);
}

.equal-right {
    background-color: $lightgreen;
    color: black;
    box-shadow: 0px 5px 0px 0px $lightgreen;
}